<!-- 
 - @file uwb.launch
 - @author Vit Petrik (petrivi2@fel.cvut.cz)
 - @brief Launch nodeleted for Qorvo DW1001 with custom firmware
 - @version 0.1
 - @date 2022-11-17
 - 
 - @copyright Copyright (c) 2022
 - 
-->

<launch>
  <arg name="UAV_NAME" default="$(optenv UAV_NAME uav)" />
  <arg name="name" default="_uwb" />
  <arg name="profiler" default="$(optenv PROFILER false)" />
  <arg name="preprocessing" default="1" />

  <group ns="$(arg UAV_NAME)">
    <node name="follower" pkg="leader_follower" type="leader_follower_node" output="screen" respawn="true">
    </node>
  </group>

</launch>