<launch>
  <arg name="uav_name" default="$(optenv UAV_NAME uav1)"/>
  <arg name="profiler" default="$(optenv PROFILER false)" />

  <group ns="$(arg uav_name)">
    <node name="object_tracker" pkg="object_tracker" type="object_tracker_node" output="screen" respawn="true">
        <param name="uav_name" value="$(arg uav_name)" />

        <remap from="~leader" to="object_tracker/filtered_poses"/>
        <remap from="~force" to="control_manager/speed_tracker/command"/>
        <remap from="~switch_tracker" to="control_manager/switch_tracker" />
    </node>
  </group>

</launch>